<% include ./partials/header %>

<h1>
	Log In
</h1>

<form method='POST' action='login'>
	<input type='text' name='username' placeholder='username'>
	<input type='password' name='password' placeholder='password'>
	<input type='submit' value='Log In' class='btn btn-success'>
</form>

<% include ./partials/footer %>